html, body {
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(45deg, #EEF8FF, #F1FFED);
    display: flex;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.app-container{
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    width: 375px;
    border-radius: 40px;
}
.app-header{
    background-imge: 
}
